<div class="container-fluid coming-soon-container">
    <div class="row h-100 align-items-center">
        <div class="col-12 text-center">
            <h1 class="display-3 text-white mb-4">We&rsquo;ll be back soon!</h1>
            <p class="lead text-white mb-5">
                Sorry for the inconvenience but we&rsquo;re performing some maintenance at the moment.
            </p>
            <p class="lead text-white mb-5">
                If you need to you can always <a href="mailto:Anoop.Chithawadgi@yokogawa.com">contact us</a>, otherwise we&rsquo;ll be back online shortly!
            </p>
            <p>&mdash; DSIN Apllication Team</p>
            <div class="countdown mb-5">
                <div class="countdown-item">
                    <span class="h1 text-white">{{ hours }}</span>
                    <small class="text-white">Hours</small>
                </div>
                <div class="countdown-item">
                    <span class="h1 text-white">{{ minutes }}</span>
                    <small class="text-white">Mins</small>
                </div>
                <div class="countdown-item">
                    <span class="h1 text-white">{{ seconds }}</span>
                    <small class="text-white">Sec</small>
                </div>
            </div>
            <div class="animation mb-5">
                <div class="one spin-one"></div>
                <div class="two spin-two"></div>
                <div class="three spin-one"></div>
            </div>
            <button class="btn btn-primary btn-lg">NOTIFY US</button>
            <div class="mt-5">
                <p class="text-white">Follow us for updates</p>
                <div class="social-icons">
                    <a href="#" class="text-white mx-2"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="text-white mx-2"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="text-white mx-2"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="text-white mx-2"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="text-white mx-2"><i class="fab fa-pinterest-p"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>