<!DOCTYPE html>

{% load static %}

<html>
<head>
    <meta charset="utf-8" />

    <style>
        table, th, td {

            border-collapse: collapse;
            font-family: Arial;
        }

        .left{
            border-left: 1px solid #222;
        }
        .right{
            border-right: 1px solid #222;
        }
        .top{
            border-top: 1px solid #222;
        }
        .bottom{
            border-bottom: 1px solid #222;
        }


        th, td {
            padding: 10px;
        }

        div.line-spacing {
            line-height: 1.6;
        }

        .gst-pan{
            width:100%;
            border: 0px !important;
        }

        .f12{
            font-size: 12px;
        }

        .f14{
            font-size: 14px;
        }

        .f16{
            font-size: 16px;
        }

        .f18{
            font-size: 17px;
            line-height: 0.7;
        }

        @media print {
            .static-content {
                page-break-after: always;
            }
        }

    </style>

</head>
<body>


<table class="gst-pan f14" align="center">
    <tr>
        <td rowspan="1" style="width: 50%; border:none;"></td>
        <td style="border:none;">
            <span >GSTIN :&nbsp;&nbsp;</span>29AAACY0840P1ZV &nbsp;&nbsp;
            <span >PAN :&nbsp;&nbsp;</span>AAACY0840P
        </td>
    </tr>
</table>

<table class="left top right bottom" style="width:100%" align="center">
    <thead>
    <tr style="background-color: #ddd;">
        <th class="left top right bottom" colspan="2" style="font-size: 20px; padding: 2px;">
            I&nbsp;N&nbsp;V&nbsp;O&nbsp;I&nbsp;C&nbsp;E
        </th>
    </tr>
    </thead>
</table>

<table class="left top right bottom" style="width:100%; margin-top: 5px;" align="center">
    <tbody>
    <tr>
        {% if Party_Address == 'enduseraddress' %}
        <td class="left top right bottom" rowspan="2" style="width: 50%; font-size:12px; padding:0px; vertical-align: top;">
            <div class="line-spacing" style="letter-spacing: 1px;">
                <span style="font-weight: bold">Bill To:&nbsp;{{EndUserCode}}</span>
                <div>{{EndUserAddress_head | linebreaksbr}}</div>
                <div>{{EndUserAddress_head | linebreaksbr}}</div>
            </div>
        </td>
        {% endif %}
        {% if Party_Address == 'shiptoparty' %}
        <td class="left top right bottom" rowspan="2" style="width: 50%; font-size:12px; padding:0px; vertical-align: top;">
            <div class="line-spacing" style="letter-spacing: 1px;">
                <span style="font-weight: bold">Bill To:&nbsp;{{Shiptocode}}</span>
                <div>{{Shiptoaddress_head | linebreaksbr}}</div>
                <div>Kind Attention : {{gdci_project_manger | linebreaksbr}}</div>
            </div>
        </td>
        {% endif %}
        {% if Party_Address == 'soldtoparty' %}
        <td class="left top right bottom" rowspan="2" style="width: 50%; font-size:12px; padding:0px; vertical-align: top;">
            <div class="line-spacing" style="letter-spacing: 1px;">
                <span style="font-weight: bold">Bill To:&nbsp;{{SoldtoCode}}</span>
                <div>{{SoldToAddress_head | linebreaksbr}}</div>
                <div>Kind Attention : {{gdci_project_manger | linebreaksbr}}</div>
            </div>
        </td>
        {% endif %}
        {% if Party_Address == 'billtoparty' %}
        <td class="left top right bottom" rowspan="2" style="width: 50%; font-size:12px; padding:0px; vertical-align: top;">
            <div class="line-spacing" style="letter-spacing: 1px;">
                <span style="font-weight: bold">Bill To:&nbsp;{{Billtocode}}</span>
                <div>{{Billtoaddress_head | linebreaksbr}}</div>
                <div>Kind Attention : {{gdci_project_manger | linebreaksbr}}</div>
            </div>
        </td>
        {% endif %}
        <td class="left top right bottom f12" style="padding:2px;">
            <div class="line-spacing" style="letter-spacing: 1px;">
                <div>PROFORMA INVOICE NO :{{Sale_Order_No}}</div>
                <div>
                    <span>DATE :{{PI_date}}</span>&nbsp;&nbsp;
                </div>

            </div>
        </td>
    </tr>
    <tr>
        <td class="left top right bottom f12" style="padding:0px; vertical-align: top;">
            <div class="line-spacing" style="letter-spacing: 1px;">
                <div style="font-weight: bold; margin-bottom: 5px;">CUSTOMER PO DETAILS</div>
                <div>ORDER NO :{{PONo}}</div>
                <div>ORDER DATE :{{PoDate}}</div>
                <div>SALE ORDER NO : {{DocNo}}</div>
                <div>SALES OFFICE : {{Sales_Office}}</div>
                <div>GDC-I PROJECT MANAGER : {{Project_Manager}}</div>
                {% if JobCode != null %}
                <div>GDC-I JOB CODE : {{JobCode}}</div>
                {% endif %}
                {% if gdci_invoice_name != null %}
                <div>GDC-I Project : {{gdci_invoice_name}}</div>
                {% endif %}
            </div>
        </td>
    </tr>
    </tbody>
</table>

<table class="left top right f14" style="width:100%; margin-top:10px" align="center">
    <thead>
    <tr>
        <th style='width: 10%; text-align: left;'>SL NO</th>
        <th style='width: 45%; text-align: left;'>MATERIAL NO./DESCRIPTION</th>
        <th style='width: 15%; text-align: left;'>QTY/UOM</th>
        <th style='width: 15%; text-align: right;'>UNIT RATE</th>
        <th style='width: 15%; text-align: right;'>AMOUNT({{ unitType }})</th>
    </tr>
    </thead>
</table>

<table class="f12" style="width:100%;">
    <tr>
        <!-- change 2 start have just changed height will take fit-content with 100px bottom padding  -->
        <td class="left top right bottom line-spacing" style="height: fit-content;width: fit-content; padding-bottom: 100px; " valign="top">
            <table style="width:100%; margin-top: 2px;border: none;letter-spacing: 1px;" align="center" border="0">
                <tbody>
                {% if Type == "M" %}
                {% if length < 3 %}
                {% for item in order|dictsort:'Revno' %}
                <tr>
                    <td style='width: 10%;text-align: left; vertical-align: top;'>
                        {% if item.counter != 0 %}
                        <div>{{item.counter}}</div>
                        {% endif %}
                    </td>
                    <td style='width: 45%;'>
                        <div>{{item.Description}}</div>
                        <div>
                            {% if item.PartName == null %}
                            <span></span>
                            {% else %}
                            <span>{{item.PartName}}</span>
                            {% endif %}
                        </div>
                        <div>
                            {% if item.CusPartSlno == null %}
                            <span></span>
                            {% else %}
                            <span>{{item.CusPartSlno}}</span>
                            {% endif %}
                        </div>
                        <div>
                            {% if item.CusPartNo == null %}
                            <span></span>
                            {% else %}
                            <span>{{item.CusPartNo}}</span>
                            {% endif %}
                        </div>
                        <div>
                            {% if item.HSN == null %}
                            <span></span>
                            {% else %}
                            HSN :<span>{{item.HSN}}</span>
                            {% endif %}
                        </div>
                        {% if item.Type == "M" %}
                        {% if item.PI_Discount != null and item.PI_Discount != 0 %}
                        <div style="margin-left: 250px;">
                            Discount:&nbsp;{{item.Discount_Percent}}%&nbsp;{{item.PI_Discount|floatformat:"2"}}
                        </div>
                        {% endif %}
                        {% if item.PI_Pf != null and item.PI_Pf != 0 %}
                        <div style="margin-left: 250px;">
                            P&F:&nbsp;{{item.PF_Percent}}%&nbsp;{{item.PI_Pf|floatformat:"2"}}
                        </div>
                        {% endif %}
                        {% if item.PI_Freight != null and item.PI_Freight != 0 %}
                        <div style="margin-left: 250px;">
                            Freight:&nbsp;{{item.Freight_Percent}}%&nbsp;{{item.PI_Freight|floatformat:"2"}}
                        </div>
                        {% endif %}
                        {% if item.IGST != null %}
                        <div style="margin-left: 250px;">
                            IGST:&nbsp;{{item.IGST|floatformat}}%&nbsp;{{item.PI_IGST|floatformat:"2"}}
                        </div>
                        {% endif %}
                        {% if item.SGST != null or item.CGST != null %}
                        <div style="margin-left: 250px;">
                            CGST:&nbsp;{{item.CGST|floatformat}}%&nbsp;{{item.PI_CGST|floatformat:"2"}}
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            SGST:&nbsp;{{item.SGST|floatformat}}%&nbsp;{{item.PI_SGST|floatformat:"2"}}
                        </div>
                        {% endif %}
                        {% endif %}

                        {% if item.Type == "A" %}
                        {% if item.IGST != null and item.IGST != 0 %}
                        <div style="margin-left: 250px;">
                            IGST:&nbsp;{{item.IGST}}%&nbsp;{{item.PI_IGST|floatformat:"2"}}
                        </div>
                        {% endif %}
                        {% if item.SGST != null and item.SGST != 0 or item.CGST != null and item.CGST != 0 %}
                        <div style="margin-left: 250px;">
                            CGST:&nbsp;{{item.CGST}}%&nbsp;{{item.PI_CGST|floatformat:"2"}}
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            SGST:&nbsp;{{item.SGST}}%&nbsp;{{item.PI_SGST|floatformat:"2"}}
                        </div>
                        {% endif %}
                        {% endif %}
                    </td>
                    <td style='width: 15%;text-align: left;vertical-align: top;'>{{item.PI_Qty}}&nbsp;&nbsp;
                        {% if item.UOM == null %}
                        <span></span>
                        {% else %}
                        <span>{{item.UOM}}</span>
                        {% endif %}
                    </td>
                    <td style='width: 15%;text-align: right;vertical-align: top;'>
                        {% if item.UnitPrice == null or item.UnitPrice == 0 %}
                        <span></span>
                        {% else %}
                        <span>{{item.UnitPrice|floatformat:"2"}}</span>
                        {% endif %}
                    </td>
                    <td style="width: 15%;text-align: right;vertical-align: top;">
                        {% if item.MultiplyUnitPrice == 0 %}
                        <span></span>
                        {% endif %}
                        {% if item.MultiplyUnitPrice != 0 %}
                        <span>{{item.MultiplyUnitPrice|floatformat:"2"}}</span>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td style='border:none; text-align: left; padding-top: 30px;'>AS PER ANNEXURE SHEET</td>
                    <td style='border:none; text-align: center;'></td>
                    <td style='border:none; text-align: center;'></td>
                    <td style='border:none; text-align: center;'></td>
                    <td style='border:none; text-align: center;'></td>
                </tr>
                {% endif %}
                {% endif %}

                {% if Type == "A" %}
                {% for item in order %}
                <tr>
                    <td style='width: 10%;text-align: left; vertical-align: top;'>{{forloop.counter}}</td>
                    <td style='width: 45%;'>
                        <div>{{item.Description}}</div>
                        <br><br>
                        <div>{{item.PercentonAmt}}</div>
                        <br><br>
                        <div>{{item.APBGDetails}}</div>
                    </td>
                    <td style='width: 15%;text-align: center;'>{{item.PI_Qty}}&nbsp;&nbsp;
                        {% if item.UOM == null %}
                        <span>-</span>
                        {% else %}
                        <span>{{item.UOM}}</span>
                        {% endif %}
                    </td>
                    <td style='width: 15%;text-align: right;'>{{item.UnitPrice|floatformat:"2"}}</td>
                    <td style='width: 15%;text-align: right;'>{{TotalUnitPrice|floatformat:"2"}}</td>
                </tr>
                {% endfor %}
                {% endif %}

                {% if Type == "R" %}
                {% for item in order %}
                <tr>
                    <td style='width: 10%;text-align: left; vertical-align: top;'>{{forloop.counter}}</td>
                    <td style='width: 45%;'>
                        <div>{{item.Description}}</div>
                        <br><br>
                        <div>{{item.PercentonAmt}}</div>
                        <br><br>
                        <div>{{item.APBGDetails}}</div>
                    </td>
                    <td style='width: 15%;text-align: center;'>{{item.PI_Qty}}&nbsp;&nbsp;
                        {% if item.UOM == null %}
                        <span>-</span>
                        {% else %}
                        <span>{{item.UOM}}</span>
                        {% endif %}
                    </td>
                    <td style='width: 15%;text-align: right;'>{{item.UnitPrice|floatformat:"2"}}</td>
                    <td style='width: 15%;text-align: right;'>{{TotalUnitPrice|floatformat:"2"}}</td>
                </tr>
                {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </td>
    </tr>
</table>

<!-- change start -->
<table class="left top right bottom f18" style="width:100%;">
    <tbody>
    <tr>
        <td class="left top right bottom f18" style="padding:0px; width:50%; vertical-align: top;">
            <table class="f18" style="width:100%;">
                <tbody>
                <tr>
                    {% if MatReadyDate != None %}
                    <td style='text-align: left;color:red;font-family:Arial'>Material Readiness @ YIL Ex-works =&nbsp;<b>{{MatReadyDate}}</b></td>
                    {% endif %}
                </tr>
                <tr>
                    <td style='text-align: left;color:red;font-family:Arial;line-height: 1;'>
                        <span>Remarks : {% if gdci_remarks == None %} N/A {% else %} {{gdci_remarks}} {% endif %}</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
        <td class="left top right bottom f12" style="padding:0px; width:50%; vertical-align: top;">
            <table class="f14" style="width:100%;">
                <tbody>
                {% if Type == "M" %}
                <tr>
                    <td style='text-align: left; padding:3px; letter-spacing: 1px; font-weight: bold;'>SUBTOTAL</td>
                    <td style='text-align: right;font-weight: bold;'>{{TotalUnitPriceValue|floatformat:"2"}}</td>
                </tr>
                {% endif %}
                {% if Type == "A" %}
                <tr>
                    <td style='text-align: left; padding:3px; letter-spacing: 1px; font-weight: bold;'>SUBTOTAL</td>
                    <td style='text-align: right;font-weight: bold;'>{{TotalUnitPrice|floatformat:"2"}}</td>
                </tr>
                {% endif %}
                {% if Type == "R" %}
                <tr>
                    <td style='text-align: left; padding:3px; letter-spacing: 1px; font-weight: bold;'>SUBTOTAL</td>
                    <td style='text-align: right;font-weight: bold;'>{{TotalUnitPrice|floatformat:"2"}}</td>
                </tr>
                {% endif %}

                {% if PI_TotalDiscount == null %}
                <tr>
                    <td style='text-align: left; font-weight: bold;'>&nbsp;&nbsp;(a)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Discount :</td>
                    <td style='text-align: right;font-weight: bold;'>0.00</td>
                </tr>
                {% endif %}
                {% if PI_TotalDiscount != null %}
                <tr>
                    <td style='text-align: left; font-weight: bold;'>&nbsp;&nbsp;(a)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Discount :</td>
                    <td style='text-align: right;font-weight: bold;'>{{total_discount|floatformat:"2"}}</td>
                </tr>
                {% endif %}

                {% if PI_TotalPf == null %}
                <tr>
                    <td style='text-align: left; font-weight: bold;'>&nbsp;&nbsp;(b)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;P&nbsp;&&nbsp;F :</td>
                    <td style='text-align: right;font-weight: bold;'>0.00</td>
                </tr>
                {% endif %}
                {% if PI_TotalPf != null %}
                <tr>
                    <td style='text-align: left; font-weight: bold;'>&nbsp;&nbsp;(b)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;P&nbsp;&&nbsp;F :</td>
                    <td style='text-align: right;font-weight: bold;'>{{PI_TotalPf|floatformat:"2"}}</td>
                </tr>
                {% endif %}

                {% if PI_TotalFreight == null %}
                <tr>
                    <td style='text-align: left; font-weight: bold;'>&nbsp;&nbsp;(c)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Freight :</td>
                    <td style='text-align: right;font-weight: bold;'>0.00</td>
                </tr>
                {% endif %}
                {% if PI_TotalFreight != null %}
                <tr>
                    <td style='text-align: left; font-weight: bold;'>&nbsp;&nbsp;(c)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Freight :</td>
                    <td style='text-align: right;font-weight: bold;'>{{PI_TotalFreight|floatformat:"2"}}</td>
                </tr>
                {% endif %}

                {% if PI_TotalCGST != null and PI_TotalCGST != 0 %}
                <tr>
                    <td style='text-align: left;font-weight: bold;'>&nbsp;&nbsp;(d)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CGST@{{CGST_Percent|floatformat}}% :</td>
                    {% if Type == "M" %}
                    <td style='text-align: right;font-weight: bold;'>{{total_order_CGST|floatformat:"2"}}</td>
                    {% endif %}
                    {% if Type == "A" %}
                    <td style='text-align: right;font-weight: bold;'>{{PI_TotalCGST|floatformat:"2"}}</td>
                    {% endif %}
                </tr>
                {% endif %}

                {% if PI_TotalSGST != null and PI_TotalSGST != 0 %}
                <tr>
                    <td style='text-align: left;font-weight: bold;'>&nbsp;&nbsp;(e)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SGST@{{SGST_Percent|floatformat}}% :</td>
                    {% if Type == "M" %}
                    <td style='text-align: right;font-weight: bold;'>{{total_order_SGST|floatformat:"2"}}</td>
                    {% endif %}
                    {% if Type == "A" %}
                    <td style='text-align: right;font-weight: bold;'>{{PI_TotalSGST|floatformat:"2"}}</td>
                    {% endif %}
                </tr>
                {% if TCSAmount != null and TCSAmount != 0 %}
                <tr>
                    <td style='text-align: left;font-weight: bold;'>&nbsp;&nbsp;(f)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TCS:{{TCS}}%</td>
                    <td style='text-align: right;font-weight: bold;'>{{TCSAmount}}</td>
                </tr>
                {% endif %}
                {% endif %}

                {% if PI_TotalIGST != null and PI_TotalIGST != 0 %}
                <tr>
                    <td style='text-align: left;font-weight: bold;'>&nbsp;&nbsp;(d)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;IGST@{{IGST_Percent|floatformat}}% :</td>
                    {% if Type == "M" %}
                    <td style='text-align: right;font-weight: bold;'>{{total_order_IGST|floatformat:"2"}}</td>
                    {% endif %}
                    {% if Type == "A" %}
                    <td style='text-align: right;font-weight: bold;'>{{PI_TotalIGST|floatformat:"2"}}</td>
                    {% endif %}
                </tr>
                {% if TCSAmount != null and TCSAmount != 0 %}
                <tr>
                    <td style='text-align: left;font-weight: bold;'>&nbsp;&nbsp;(e)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TCS:{{TCS}}%</td>
                    <td style='text-align: right;font-weight: bold;'>{{TCSAmount}}</td>
                </tr>
                {% endif %}
                {% endif %}

                {% if zero_CGST == 0 and zero_CGST_value == 0 %}
                <tr>
                    <td style='text-align: left; font-weight: bold;'>&nbsp;&nbsp;(d)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CGST@0% :</td>
                    <td style='text-align: right;font-weight: bold;'>{{total_order_CGST|floatformat:"2"}}</td>
                </tr>
                {% endif %}

                {% if zero_SGST == 0 and zero_SGST_value == 0 %}
                <tr>
                    <td style='text-align: left; font-weight: bold;'>&nbsp;&nbsp;(e)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SGST@0% :</td>
                    <td style='text-align: right;font-weight: bold;'>{{total_order_SGST|floatformat:"2"}}</td>
                </tr>
                {% endif %}

                {% if zero_IGST == 0 and zero_IGST_value == 0 %}
                <tr>
                    <td style='text-align: left; font-weight: bold;'>&nbsp;&nbsp;(d)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;IGST@0% :</td>
                    <td style='text-align: right;font-weight: bold;'>{{total_order_IGST|floatformat:"2"}}</td>
                </tr>
                {% endif %}

                {% if PI_TotalIGST == null and PI_TotalIGST == 0 and PI_TotalSGST == null and PI_TotalSGST == 0  %}
                {% if TCSAmount != null and TCSAmount != 0 %}
                <tr>
                    <td style='text-align: left; font-weight: bold;'>&nbsp;&nbsp;(d)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TCS:{{TCS}}%</td>
                    <td style='text-align: right;font-weight: bold;'>{{TCSAmount}}</td>
                </tr>
                {% endif %}
                {% endif %}

                <tr>
                    {% if Type == "M" %}
                    <td style='text-align: left; font-weight: bold;'>TOTAL</td>
                    <td style='text-align: right;font-weight: bold;'>{{TotalAmount|floatformat:"2"}}</td>
                    {% endif %}
                    {% if Type == "A" %}
                    <td style='text-align: left; font-weight: bold;'>TOTAL</td>
                    <td style='text-align: right;font-weight: bold;'>{{TotalAmountWithTCS|floatformat:"2"}}</td>
                    {% endif %}
                    {% if Type == "R" %}
                    <td style='text-align: left; font-weight: bold;'>TOTAL</td>
                    <td style='text-align: right;font-weight: bold;'>{{TotalAmountWithTCS|floatformat:"2"}}</td>
                    {% endif %}
                </tr>

                <tr>
                    {% if Advance == null %}
                    <td style='text-align: left; font-weight: bold;'>&nbsp;&nbsp;(a)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Less:&nbsp;Advance</td>
                    <td style='text-align: right; font-weight: bold;'>0.00</td>
                    {% endif %}
                    {% if Advance != null %}
                    <td style='text-align: left; font-weight: bold;'>&nbsp;&nbsp;(a)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Less:&nbsp;Advance</td>
                    <td style='text-align: right; font-weight: bold;'>{{Advance|floatformat:"2"}}</td>
                    {% endif %}
                </tr>

                <tr>
                    {% if Retention == null %}
                    <td style='text-align: left;font-weight: bold;'>&nbsp;&nbsp;(b)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Less:&nbsp;Retention</td>
                    <td style='text-align: right; font-weight: bold;'>0.00</td>
                    {% endif %}
                    {% if Retention != null %}
                    <td style='text-align: left;font-weight: bold;'>&nbsp;&nbsp;(b)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Less:&nbsp;Retention</td>
                    <td style='text-align: right; font-weight: bold;'>{{Retention|floatformat:"2"}}</td>
                    {% endif %}
                </tr>

                <tr>
                    {% if TotalAmountWithTCS == null %}
                    <td style='text-align: left; padding:3px; letter-spacing: 1px; font-weight: bold;font-size:18px;'>BALANCE</td>
                    <td style='text-align: right; padding:3px; font-weight: bold;font-size:18px;'>0.00</td>
                    {% endif %}
                    {% if TotalAmountWithTCS != null %}
                    <td style='text-align: left; padding:3px; letter-spacing: 1px; font-weight: bold;font-size:18px;'>BALANCE</td>
                    <td style='text-align: right; padding:3px; font-weight: bold;font-size:18px;'>{{TotalAmountWithTCS|floatformat:"2"}}</td>
                    {% endif %}
                </tr>


                <table class="left top right bottom " style="width:100%;" align="center">
                    <tbody>
                    <tr style="height:40px">
                        <td class="left top right bottom" style="width: 50%; padding: 0px;">
                            <div style="padding-top: 4px; margin: 2px; line-height: 1.5; font-size: 12px;font-weight: bold;">
                                <span style="padding: 2px; display: inline-block; white-space: normal;">
                                    Total: <span>USD</span> <span>{% if total_amount_with_tcs_in_words == null %} {% else %} {{total_amount_with_tcs_in_words}} {% endif %}</span><span>Only</span>
                                </span>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>

                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>


<!-- change 2 start just included static-content value here -->
<table class="left top right bottom f14" style="width:100%;" align="center">
    <tbody>
    <tr style="height: 180px; vertical-align: top;">
        <td class="left top right bottom" style="width: 50%; padding: 0px;">
            <div style="padding-top: 0px;"><b>PAYMENT TERMS : </b>{{PaymentTerms}}</div>
            <hr style="border: 1px solid #000;">
            {% if unitType == 'INR' %}
            <div><b>Account Name : </b>Yokogawa India Limited</div>
            <div><b>Bank Name & Address : </b>MUFG Bank Ltd,Unit No 701, 7th Floor, World Trade Center, Bridge Gateway, Campus 26/1,
                Dr. RajKumar Road, Malleswaram, Bangalore - 560055, Karnataka ,INDIA.</div>
            <div><b>Bank A/C No. : </b>00000892</div>
            <div><b>IFSC Code : </b>BOTM0BL3626</div>
            {% endif %}
            {% if unitType == 'USD' %}
            <div><b>Account Name : </b>Yokogawa India Limited</div>
            <div><b>Bank Name & Address : </b>MUFG Bank Ltd,Unit No 701, 7th Floor, World Trade Center, Bridge Gateway, Campus 26/1,
                Dr. RajKumar Road, Malleswaram, Bangalore - 560055, Karnataka ,INDIA.</div>
            <div><b>Bank A/C No. : </b>00998834</div>
            <div><b>SWIFT Code : </b>BOTKINBX</div>
            {% endif %}
        </td>
        <td class="left top right bottom" style="padding: 0px;">
            <div style="font-weight: bold; text-align: center;margin-top: -10px;"><p>FOR YOKOGAWA INDIA LIMITED</p></div>
            <br><br>
            <div style="font-weight: bold; text-align: center; margin-top: 35px;"><p>AUTHORISED SIGNATURE</p></div>
        </td>
    </tr>
    </tbody>
</table>


{% if length > 2 %}
<table class="left right f14" style="width:100%;" align="center">
    <thead>
    <tr style="height: 100px;">
        <th style='width: 10%; text-align: left;'>SL NO</th>
        <th style='width: 45%; text-align: left;'>MATERIAL NO./DESCRIPTION</th>
        <th style='width: 15%; text-align: left;'>QTY/UOM</th>
        <th style='width: 15%; text-align: right;'>UNIT RATE</th>
        <th style='width: 15%; text-align: right;'>AMOUNT({{ unitType }}) </th>
    </tr>
    </thead>
</table>

<table class="f12" style="width:100%;" align="center">
    <tr>
        <td class="left top right bottom line-spacing" style="padding: 0px;" valign="top">
            <table style="width:100%; margin-top: 2px;border: none;letter-spacing: 1px;" align="center" border="0">
                <tbody>
                <tr>
                    {% for item in order|dictsort:'Revno' %}
                <tr class="break-before">
                    <td style='width: 10%;text-align: left; vertical-align: top;'>
                        {% if item.counter != 0 %}
                        <div>{{item.counter}}</div>
                        {% endif %}
                    </td>
                    <td style='width: 45%;'>
                        <div>{{item.Description}}</div>
                        <div>
                            {% if item.PartName == null %}
                            <span></span>
                            {% else %}
                            <span>{{item.PartName}}</span>
                            {% endif %}
                        </div>
                        <div>
                            {% if item.CusPartSlno == null %}
                            <span></span>
                            {% else %}
                            <span>{{item.CusPartSlno}}</span>
                            {% endif %}
                        </div>
                        <div>
                            {% if item.CusPartNo == null %}
                            <span></span>
                            {% else %}
                            <span>{{item.CusPartNo}}</span>
                            {% endif %}
                        </div>
                        <div>
                            {% if item.HSN == null %}
                            <span></span>
                            {% else %}
                            HSN :<span>{{item.HSN}}</span>
                            {% endif %}
                        </div>
                        {% if item.Type == "M" %}
                        {% if item.PI_Discount != null and item.PI_Discount != 0 %}
                        <div style="margin-left: 250px;">
                            Discount:&nbsp;{{item.Discount_Percent}}%&nbsp;{{item.PI_Discount|floatformat:"2"}}
                        </div>
                        {% endif %}
                        {% if item.PI_Pf != null and item.PI_Pf != 0 %}
                        <div style="margin-left: 250px;">
                            P&F:&nbsp;{{item.PF_Percent}}%&nbsp;{{item.PI_Pf|floatformat:"2"}}
                        </div>
                        {% endif %}
                        {% if item.PI_Freight != null and item.PI_Freight != 0 %}
                        <div style="margin-left: 250px;">
                            Freight:&nbsp;{{item.Freight_Percent}}%&nbsp;{{item.PI_Freight|floatformat:"2"}}
                        </div>
                        {% endif %}
                        {% if item.IGST != null %}
                        <div style="margin-left: 250px;">
                            IGST:&nbsp;{{item.IGST|floatformat}}%&nbsp;{{item.PI_IGST|floatformat:"2"}}
                        </div>
                        {% endif %}
                        {% if item.SGST != null or item.CGST != null %}
                        <div style="margin-left: 250px;">
                            CGST:&nbsp;{{item.CGST|floatformat}}%&nbsp;{{item.PI_CGST|floatformat:"2"}}
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            SGST:&nbsp;{{item.SGST|floatformat}}%&nbsp;{{item.PI_SGST|floatformat:"2"}}
                        </div>
                        {% endif %}
                        {% endif %}

                        {% if item.Type == "A" %}
                        {% if item.IGST != null and item.IGST != 0 %}
                        <div style="margin-left: 250px;">
                            IGST:&nbsp;{{item.IGST}}%&nbsp;{{item.PI_IGST|floatformat:"2"}}
                        </div>
                        {% endif %}
                        {% if item.SGST != null and item.SGST != 0 or item.CGST != null and item.CGST != 0 %}
                        <div style="margin-left: 250px;">
                            CGST:&nbsp;{{item.CGST}}%&nbsp;{{item.PI_CGST|floatformat:"2"}}
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            SGST:&nbsp;{{item.SGST}}%&nbsp;{{item.PI_SGST|floatformat:"2"}}
                        </div>
                        {% endif %}
                        {% endif %}
                    </td>
                    <td style='width: 15%;text-align: left;vertical-align: top;'>{{item.PI_Qty}}&nbsp;&nbsp;
                        {% if item.UOM == null %}
                        <span></span>
                        {% else %}
                        <span>{{item.UOM}}</span>
                        {% endif %}
                    </td>
                    <td style='width: 15%;text-align: right;vertical-align: top;'>
                        {% if item.UnitPrice == null or item.UnitPrice == 0 %}
                        <span></span>
                        {% else %}
                        <span>{{item.UnitPrice|floatformat:"2"}}</span>
                        {% endif %}
                    </td>
                    <td style="width: 15%;text-align: right;vertical-align: top;">
                        {% if item.MultiplyUnitPrice == 0 %}
                        <span></span>
                        {% endif %}
                        {% if item.MultiplyUnitPrice != 0 %}
                        <span>{{item.MultiplyUnitPrice|floatformat:"2"}}</span>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
    </tr>
    </tbody>
</table>
</td>
</tr>
</table>
{% endif %}

</body>
</html>


