
<div class="container">
    <hr>
    <div class="row mt-3">
        <mat-card>
            <mat-card-content>
                <form class="form-control" (ngSubmit)="submitForm()">
                    <div>
                        
                        <select name="username" id="username" [(ngModel)]="selectedUserId">
                            <option value="0">Select User</option>
                            <option *ngFor="let user of userList" value="{{user.id}}">{{user.EmployeeName}}</option>
                        </select>

                        <mat-radio-group name="radioOption" [(ngModel)]="radioButtonValue" aria-label="Select an option">
                            <mat-radio-button value="True" >Grant</mat-radio-button>
                            <mat-radio-button value="False">Remove</mat-radio-button>
                        </mat-radio-group>

                        <button class="submit-button" mat-raised-button color="primary" type="submit">Submit</button>
                    </div>
                </form>
            </mat-card-content>

            <mat-card-content>
                <!-- make user list with update and delete button -->
                <table class="table table-striped mt-6">
                    <thead>
                        <tr>
                            <th>Employee Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let noneuser of noneSuperUserList">
                            <td>{{ noneuser.EmployeeName }}</td>
                            <td><button class="btn-primary" (click)="updateEmployee(noneuser.id)"><mat-icon>update</mat-icon></button></td>
                        </tr>
                    </tbody>
                </table>
            </mat-card-content>
        </mat-card>
    </div>
</div>
