form {
    border: 00px solid black;
}

.form-control .submit-button {
    margin-left: 38%;
}


.form-control mat-radio-group {
    margin-left: 8px;

}

.form-control mat-radio-group mat-radio-button {
    padding: 6px;

}